.description {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4em 0;
   
}
.flexOne {
    flex: 1;
}

.flexTwo {
    flex: 1;

}
.btnAction {
    background-color: transparent;
    border: 1px solid rgb(113, 113, 113);
    color: rgb(113, 113, 113);
    padding: 0.2em 1em;
    border-radius: 5px;
 }
.flexThree {
    display: flex;
    flex-direction: column;
    gap: 4em;
    justify-content: center;
    align-items: center;
}

.image {
    width: 200px;
    height: 200px;
    min-width: 100px;
}

.info {
    align-self: flex-start;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.cardWidth {
    width: 100px;
    margin-left: 1em;
}

.cardWidth p {
    font-size: 12px;
}

.cardImg {
    width: 100px;
    height: 100px;
}